In [ ]:
# -*- coding: utf-8 -*-
import pandas as pd
import numpy as np
from datetime import datetime
import collections

In [ ]:
def read_data(path):
    df = pd.read_csv(path)
    del df["Unnamed: 0"]
    df['time'] = pd.to_datetime(df['time'])
    return df

In [ ]:
def user_detail_counts(df,day):
    if day < 13:
        new_df = df[df['time'] >= datetime(2014,11,day+17)][df['time'] < datetime(2014,11,day+18)].groupby([df['user_id'],df["behavior_type"]]).count().unstack()
        return new_df
    if day == 13:
        new_df = df[df['time'] >= datetime(2014,11,day+17)][df['time'] < datetime(2014,12,1)].groupby([df['user_id'],df["behavior_type"]]).count().unstack()
        return new_df
    new_df = df[df['time'] >= datetime(2014,12,day-13)][df['time'] < datetime(2014,12,day-12)].groupby([df['user_id'],df["behavior_type"]]).count().unstack()
    return new_df

In [ ]:
def get_one(x):
    y=0
    if x[4]!=0:
        y=2
    elif x[1]!=0:
        y=1
    return y

In [ ]:
def user_30days(df):
    user_id = df['user_id'].unique().tolist()
    basic_days = collections.OrderedDict()
    for i in range(1,31,1):
        key = 'day' + str(i)
        basic_days[key] = user_detail_counts(df,i)['item_id'].ix[user_id].fillna(0).astype(int).apply(get_one,axis=1)
    basic_days=pd.DataFrame(basic_days, index = user_id)
    return basic_days

In [ ]:
# test comands
# detail_days = user_30days(df)

# detail_days.head(20)

# detail_days.ix[98047837][detail_days.ix[98047837]==2].index

# detail_days.ix[98047837]

# f = lambda x: x==2

# detail_days.apply(f,axis=1)

In [ ]:
if __name__=="__main__":
#     path = "E:\\projects\\recys_projects\\dataset\\0_999_user_info.csv"
    path = "/home/xuyayuan/recys_projects/dataset/0_999_user_info.csv"
    df = read_data(path)

In [ ]:
day = 3
new_df = df[df['time'] >= datetime(2014,11,day+17)][df['time'] < datetime(2014,11,day+18)].groupby([df['user_id'],df["behavior_type"]]).count().unstack()

In [ ]:
new_df['item_id'].fillna(0).astype(int).head(20)

In [26]:
day = 3
new_df2 = df[df['time'] >= datetime(2014,11,day+17)][df['time'] < datetime(2014,11,day+18)].groupby([df['user_id'],df['item_category'],df['item_id'],df["behavior_type"]]).count().unstack()

/home/xuyayuan/myprojects/recys_venv/lib/python3.6/site-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

In [27]:
new_df2['item_id'].fillna(0).astype(int).ix[263670]

/home/xuyayuan/myprojects/recys_venv/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

behavior_type            1  2  3  4
item_category item_id
1863          185211488  3  0  0  0
              224707070  2  0  0  0
              272191074  1  0  0  0
              319474518  2  0  0  0
5395          95920030   1  0  0  0
              335550825  2  0  0  0

In [28]:
new_df2['item_id'].fillna(0).astype(int).head(20)

behavior_type                    1  2  3  4
user_id item_category item_id
90472   2431          263064536  1  0  0  0
263670  1863          185211488  3  0  0  0
                      224707070  2  0  0  0
                      272191074  1  0  0  0
                      319474518  2  0  0  0
        5395          95920030   1  0  0  0
                      335550825  2  0  0  0
365699  6226          76452280   1  0  0  0
704891  1303          310992523  2  0  0  0
        1346          27695665   2  0  0  0
        2950          349834522  2  0  0  0
        5006          62946360   2  0  0  0
        7322          359123831  2  0  0  0
        7717          396936793  2  0  0  0
        7767          36037969   2  0  0  0
        8586          190256644  2  0  0  0
                      397094858  4  0  0  0
        9116          6993371    1  0  0  0
                      76766302   1  0  0  0
                      76767026   2  0  0  0