In [ ]:
# -*- coding: utf-8 -*-
import pandas as pd
import numpy as np
from datetime import datetime
import collections

In [ ]:
def read_data(path):
    df = pd.read_csv(path)
    del df["Unnamed: 0"]
    df['time'] = pd.to_datetime(df['time'])
    return df

In [ ]:
def user_detail_counts(df,day):
    new_df = 0
    if day < 13:
        new_df = df[df['time'] >= datetime(2014,11,day+17)][df['time'] < datetime(2014,11,day+18)].groupby([df['user_id'],df["behavior_type"]]).count().unstack()
    if day == 13:
        new_df = df[df['time'] >= datetime(2014,11,day+17)][df['time'] < datetime(2014,12,1)].groupby([df['user_id'],df["behavior_type"]]).count().unstack()
    if day > 13:
        new_df = df[df['time'] >= datetime(2014,12,day-13)][df['time'] < datetime(2014,12,day-12)].groupby([df['user_id'],df["behavior_type"]]).count().unstack()
    new_df = new_df.fillna(0).astype(int)
    return new_df

In [ ]:
def get_one(x):
    y=0
    if x[4]!=0:
        y=2
    elif x[1]!=0:
        y=1
    return y

In [ ]:
def user_30days(df):
    user_id = df['user_id'].unique().tolist()
    basic_days = collections.OrderedDict()
    for i in range(1,31,1):
        key = 'day' + str(i)
        basic_days[key] = user_detail_counts(df,i)['item_id'].ix[user_id].apply(get_one,axis=1)
    basic_days=pd.DataFrame(basic_days, index = user_id)
    return basic_days

In [ ]:
# test comands
# detail_days = user_30days(df)

# detail_days.head(20)

# detail_days.ix[98047837][detail_days.ix[98047837]==2].index

# detail_days.ix[98047837]

# f = lambda x: x==2

# detail_days.apply(f,axis=1)

In [ ]:
if __name__=="__main__":
#     path = "E:\\projects\\recys_projects\\dataset\\0_999_user_info.csv"
    path = "/home/xuyayuan/recys_projects/dataset/0_999_user_info.csv"
    df = read_data(path)

In [ ]:
day = 3
new_df = df[df['time'] >= datetime(2014,11,day+17)][df['time'] < datetime(2014,11,day+18)].groupby([df['user_id'],df["behavior_type"]]).count().unstack()

In [ ]:
new_df['item_id'].fillna(0).astype(int).head(20)

In [ ]:
day = 3
new_df2 = df[df['time'] >= datetime(2014,11,day+17)][df['time'] < datetime(2014,11,day+18)].groupby([df['user_id'],df['item_category'],df['item_id'],df["behavior_type"]]).count().unstack()

new_df2['item_id'].fillna(0).astype(int).ix[49243199]

In [ ]:
new_df2['item_id'].fillna(0).astype(int).head(20)

In [ ]:
user_detail_counts(df,3).ix[49243199]

In [ ]:
user_30days(df)

In [ ]:
df[df.user_id==49243199][df['time'] >= datetime(2014,11,18)][df['time'] < datetime(2014,11,19)]

In [83]:
df_d3 = user_detail_counts(df,3)['item_id'].apply(get_one,axis=1)

/home/xuyayuan/myprojects/recys_venv/lib/python3.6/site-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.

In [84]:
df_d20 = user_detail_counts(df,20)['item_id'].apply(get_one,axis=1)

/home/xuyayuan/myprojects/recys_venv/lib/python3.6/site-packages/ipykernel_launcher.py:8: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

In [85]:
df_d25 = user_detail_counts(df,25)['item_id'].apply(get_one,axis=1)

/home/xuyayuan/myprojects/recys_venv/lib/python3.6/site-packages/ipykernel_launcher.py:8: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

In [86]:
pd.concat([df_d3,df_d20,df_d25],axis=1)

             0    1    2
user_id
90472      1.0  1.0  1.0
134658     NaN  NaN  2.0
263670     1.0  1.0  1.0
365699     1.0  2.0  1.0
414388     NaN  1.0  1.0
704891     1.0  1.0  2.0
764564     1.0  1.0  1.0
1112140    1.0  NaN  1.0
1137672    2.0  1.0  1.0
1156843    NaN  1.0  2.0
1183504    1.0  2.0  2.0
1619789    1.0  NaN  1.0
1704058    1.0  NaN  1.0
1805148    NaN  1.0  2.0
1963813    2.0  NaN  2.0
2242451    NaN  NaN  1.0
2242773    1.0  1.0  1.0
2379445    2.0  NaN  1.0
2675166    NaN  1.0  1.0
2695854    NaN  1.0  1.0
2814416    1.0  1.0  1.0
2839379    1.0  NaN  2.0
2913602    1.0  2.0  2.0
2935703    1.0  2.0  1.0
2967122    1.0  1.0  1.0
3162324    NaN  1.0  2.0
3166978    1.0  2.0  2.0
3350428    NaN  NaN  1.0
3460631    1.0  1.0  1.0
3512329    1.0  2.0  1.0
...        ...  ...  ...
138008005  NaN  1.0  2.0
138387712  1.0  NaN  2.0
138390959  1.0  1.0  2.0
138551234  NaN  NaN  2.0
138666658  NaN  NaN  1.0
138843810  1.0  1.0  2.0
139145544  2.0  2.0  2.0
139263046  1.0  1.0  2.0
139479952  1.0  1.0  1.0
139590290  1.0  1.0  1.0
139904361  NaN  1.0  2.0
139954377  NaN  1.0  1.0
139961106  1.0  1.0  1.0
139991891  NaN  NaN  2.0
140515194  2.0  1.0  NaN
140781295  1.0  2.0  1.0
140910777  1.0  1.0  2.0
141016162  1.0  NaN  1.0
141116365  NaN  NaN  1.0
141143284  1.0  2.0  1.0
141187200  2.0  1.0  2.0
141444223  1.0  2.0  NaN
141453769  1.0  1.0  2.0
141582467  2.0  NaN  2.0
142081324  NaN  1.0  2.0
142168798  2.0  1.0  1.0
142204924  NaN  1.0  1.0
142216376  2.0  1.0  1.0
142306361  2.0  NaN  1.0
142430177  1.0  2.0  2.0

[924 rows x 3 columns]