In [ ]:
# -*- coding: utf-8 -*-
import pandas as pd
import numpy as np
from datetime import datetime
import collections

In [ ]:
def read_data(path):
    df = pd.read_csv(path)
    del df["Unnamed: 0"]
    df['time'] = pd.to_datetime(df['time'])
    return df

In [ ]:
def get_user_counts(df,day):
    user_id = df['user_id'].unique().tolist()
    if day < 13:
        new_df = df[df['time'] >= datetime(2014,11,day+17)][df['time'] < datetime(2014,11,day+18)].groupby('user_id').count()
        return new_df
    if day == 13:
        new_df = df[df['time'] >= datetime(2014,11,day+17)][df['time'] < datetime(2014,12,1)].groupby('user_id').count()
        return new_df
    new_df = df[df['time'] >= datetime(2014,12,day-13)][df['time'] < datetime(2014,12,day-12)].groupby('user_id').count()
    return new_df
# get_user_counts(df,5)

In [ ]:
def df_to_list(new_df,user_id):
#     new_df['item_id']
    arry = np.array(new_df.ix[user_id,'item_id'])
    arry[np.isnan(arry)]=0
    new_list = arry.astype(np.int).tolist()
    return new_list

In [ ]:
# all users 30 days basic count info
def user_30days(df):
    user_id = df['user_id'].unique().tolist()
    # print(user_id)
    basic_days = collections.OrderedDict()
    for i in range(1,31,1):
        key = 'day' + str(i)
        basic_days[key] = df_to_list(get_user_counts(df,i),user_id)
    basic_days=pd.DataFrame(basic_days, index = user_id)
    return basic_days

In [ ]:
def detail_info(df,user_id):
    new_df = df.groupby([df['user_id'],df["behavior_type"]]).count().unstack()
    new_list = df_to_list(new_df,user_id)[0]
    print(user_id,new_list)
    return new_list

In [ ]:
def test_user_id(df_0,df_1,user_id):
    test_list_1 = np.array(df_1.ix[user_id]).tolist()[0]
    for day in range(1,31,1):
        test_list_0 = df_to_list(get_user_counts(df_0,day),user_id)[0]
        if test_list_0 == test_list_1[day-1]:
            print(day,test_list_0,test_list_1[day-1],'sucess')
        else:
            print(day,test_list_0,test_list_1[day-1],'faiure')
# test_user_id(df,basic_days,[126505815])

In [ ]:
if __name__=="__main__":
    path = "E:\\projects\\recys_projects\\dataset\\0_999_user_info.csv"
#     path = "/home/xuyayuan/recys_projects/dataset/0_999_user_info.csv"
    df = read_data(path)

In [ ]:
basic_days = user_30days(df)

In [ ]:
basic_days['day1']

In [20]:
df.groupby([df['user_id'],df["behavior_type"]]).count().head(25)

                       item_id  user_geosh  item_category  time
user_id behavior_type
45368   1                   36           0             36    36
90472   1                  135          63            135   135
        2                    9           7              9     9
        3                    4           0              4     4
134658  1                  252         129            252   252
        3                    4           3              4     4
        4                    2           2              2     2
263670  1                  599         533            599   599
        2                    1           1              1     1
        3                    3           3              3     3
        4                    1           1              1     1
365699  1                  550         440            550   550
        3                   52          41             52    52
        4                    3           3              3     3
414388  1                  411           0            411   411
        3                   26           0             26    26
        4                   15           0             15    15
704891  1                 1082         952           1082  1082
        2                   31          26             31    31
        3                   47          36             47    47
        4                   26          21             26    26
764564  1                  565          61            565   565
        2                    1           0              1     1
        3                   12           1             12    12
1112140 1                  484         429            484   484

In [ ]:
new_list = detail_info(df,[764564])